.theme {
  list-style-type: none;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  padding: 20px;
}

.allchart {
  width: 80%;
}
.chart1 {
  display: flex;
  margin-bottom: 30px;
}
.chart2 {
  display: flex;
  margin-bottom: 15px;
}

.btns input {
  width: 130px;
  padding: 12px;
  border: 3px solid #337ab7;
  border-radius: 0.25em;
  font-weight: 700;
  float: right;
  margin-right: 50px;
  background-color: #337ab7;
  color: white;
}

.btns input:hover {
  background-color: #2e6da4;
  border: 3px solid #2e6da4;
}
