.theme {
  list-style-type: none;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  padding: 15px;
  white-space: nowrap;
}
.tasktitle {
  -webkit-box-shadow: 0 2px 5px 0 rgb(0 0 0 / 40%);
}
.allchart {
  width: 100%;
  height: 100%;
}
.chart1 {
  display: flex;
  margin-bottom: 15px;
  height: 35%;
}
.chart2 {
  display: flex;
  margin-bottom: 30px;
  height: 35%;
}

.btns button {
  font-weight: 700;
  float: right;
  margin-right: 50px;
  color: white;
}
