aside {
  width: 20%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding-top: 15px;
  .table {
    width: 95%;
    height: 90%;
    border: 2px solid #49277f;
    border-radius: 10px;
    background-color: white;
    text-align: center;
    margin: auto;
    overflow-y: auto;
    .task {
      border-bottom: 2px solid black;
      padding: 5px 0;
      h2 {
        font-size: 20px;
        color: #333;
        margin-bottom: 0;
        font-size: 25px;
      }
    }
  }
  .btn {
    width: 95%;
    height: 5%;
    display: flex;
    justify-content: space-between;
    margin: auto;
    margin-top: 15px;
    button {
      width: 30%;
      background-color: white;
      border: 2px solid #49277f;
      border-radius: 10px;
      font-size: 15px;
      color: #333;
      font-family: "Lexend Deca", sans-serif;
      font-weight: 600;
    }
  }
}
